body {
    max-width: 1200px;
    margin: auto;
    padding: 0;
    box-shadow: 
    10px 0 12px #dcdcdc,
    -10px 0 12px #dcdcdc;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0; 
    font-weight: normal;
    text-transform: uppercase;
    background-color: #ffffff;  
}

a {
    font-weight: bold;
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/*навигация сайта*/

.main-header {
    height: 56px;
    margin: 0;
}

.main-navigation {
    min-height: 42px;
    margin-bottom: 0;
}

.site-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    min-height: 42px;
    align-items: center;
    flex-wrap: wrap;
}

.site-navigation li {
    padding-top: 15px;
    max-width: 239px;
    height: 56px;
    list-style: none;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color:#dcdcdc;
}

.site-navigation-current {
    color: #8f847d;
    font-weight: bold;
}


.main-header-logo {
    margin-left: -70px;
    position: absolute;
    left: 50%;
}

.cotent-logo {
    height: 725px;
    text-align: center;
    background-image: 
    url("./../img/mask.svg"),
    url("./../img/background-photo.jpg");
    background-color: #add8e6;
    background-repeat: no-repeat;
    background-position: 
    center bottom -117px,
    center;
    background-size: 1200px 725px;
}

.cotent-logo img {
    margin-top: 75px;
}


.reasons {
    margin-top: 73px;
    min-height: 217px;
    background-color: #ffffff;
}

.reasons p:first-child {
    margin: 0;
    padding-top: 60px;
}

.reasons p:last-child {
    margin: 0;
    padding-top: 30px;
}

.reasons p:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
}

.reasons p:nth-child(2) {
    color: #696969;
}

.reason-item h3 {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
}


/*блок основного содержания*/

.content-feature {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    text-align: center;
}

.real-city,
.bridge,
.square,
.road,
.tourists {
    width: 400px;
    height: 256px;
}

.housing,
.food,
.souvenir {
    height: 330px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pic {
    width: 800px;
    height: 256px;
}

.real-city,
.bridge {
    margin: 0;
    color: #ffffff;
    background-color: #81b3d2;

}

.square,
.road,
.tourists {
    color: #333333;
    background-color: #eeeeee;
}

.square h3,
.road h3,
.tourists h3 {
    color: #000000;
}


/*форма*/

.search {
    height: 690px;
    text-align: center;
    letter-spacing: 0;
}

.search h2 {
    font-size: 29px;
    
}

.search .button {
    width: 570px;
    height: 85px;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    border: 0;
    background-color: #766357;
}

.search .button:hover,
.search .button:focus {
    background-color: #604e43;
}

.search .button:active {
    color: #857871;
    background-color: #503e33;
}

/*.form {
    display: none;
}

.button:active .form {
    display: block;
}*/

.search-form {
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}

.search-item input {
    position: relative;
    border: 0;
    background-color: #f5f5f5;
}

.search-form input:hover {
    border: 0;
    background-color: #e6e6e6;
    outline: none;
}

.search-form input:focus {
    border: 1px solid #dfdfdf;
    background-color: #ffffff;
    outline: none;
}

.search-button  {
    width: 460px;
    height: 60px;
    border: 0;
    outline: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    background-color: #81b3d2;
    text-transform: uppercase;
}

.search-button:hover,
.search-button:focus {
    background-color: #669ec0;
}
.search-button:active {
    color: #88b6d1;
    background-color: #5496bd;
}

.map {
    
}
/*стили внутренней страницы*/
/*фильтры*/
.filters {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    background-image: url("./../img/filter-background.jpg");
    background-color: #648eb4;
}

.filters ul {
    list-style: none;
}

.filters fieldset {
    border: none;
}

.filters legend{
    font-size: 16px;
    font-weight: bold;
}


.filter-button {
    color: #ffffff;
    
    width: 140px;
    height: 40px;
    border: 2px solid #ffffff;
}


.filter-button:hover,
.filter-button:focus,
.filter-button:active {
    color: #000000;
    background-color: #ffffff;
}

.sorting-items {
    display: flex;
}

.sorting-items li {
    padding: 17px;
}

.sorting {
    font-size: 18px; 
    border-bottom: 1px solid #b2b2b2;
}

.sorting-items li {
    list-style: none;
}

.sorting-items a {
    color: #b2b2b2;
    font-size: 12px;
    border-bottom: 1px dotted #b2b2b2;
}

.sorting-items a:hover,
.sorting-items a:focus {
    color: #81b3d2;
}

.sorting-items a:active {
    color: #000000;
    border-bottom: none;
}


/*карточки поиска*/
.search-inner {

}

/*.search-inner-items {
    display: flex;
    flex-direction: column;
}*/

.search {
    height: 400px;
}

.search-inner-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    border-bottom: 1px solid #b2b2b2;
}

.search-inner-info {
    display: flex;
    flex-direction: column;
}

.hotel-title a {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}

.hotel-title a:hover,
.hotel-title h3:focus {
    color: #81b3d2;
}

.hotel-title a:active {
    color: #b2b2b2;
}
/*
.search-inner-more a {
    display: inline-block;
    text-align: center;
    width: 110px;
    height: 25px;
    color: #ffffff;
    background-color: #81b3d2;
}

.search-inner-reserv a {
    display: inline-block;
    text-align: center;
    margin-left: 3px;
    width: 140px;
    height: 25px;
    color: #ffffff;
    background-color: #766357;
}
*/

/*карта*/

.map {
    position: relative;
}
/*
.map img {
    position: absolute;
}
*/
/*футер*/
.main-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 120px;
    background-color: #ffffff;
    opacity: 0,5;
}

.footer-contacts,
.footer-social,
.footer-copyright {
    max-width: 400px;
}

.footer-contacts p {
    font-size: 20px;
    font-weight: bold;
}

.footer-social li {
    list-style: none;
}


.footer-copyright svg:hover path,
.footer-copyright svg:focus path {
    fill: #81b3d2;
}

