body {
    max-width: 1200px;
    margin: auto;
    padding: 0;
    box-shadow: 
    10px 0 12px #dcdcdc,
    -10px 0 12px #dcdcdc;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0; 
    font-weight: normal;
    text-transform: uppercase;
    background-color: #ffffff;  
}

a {
    font-weight: bold;
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/*навигация сайта*/

.main-header {
    height: 56px;
    margin: 0;
}

.main-navigation {
    min-height: 42px;
    margin-bottom: 0;
}

.site-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 42px;
}

.navigation-left  {
    text-align: left;
}

.navigation-right  {
    text-align: right;
}

.site-navigation li {
    padding-top: 15px;
    max-width: 239px;
    min-width: 150px;
    height: 56px;
    list-style: none;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color:#dcdcdc;
}

.site-navigation-current {
    color: #8f847d;
    font-weight: bold;
}


.main-header-logo {
    margin-left: -70px;
    position: absolute;
    left: 50%;
}

.content-logo {
    height: 725px;
    text-align: center;
    background-image: 
    url("./../img/mask.svg"),
    url("./../img/background-photo.jpg");
    background-color: #add8e6;
    background-repeat: no-repeat;
    background-position: 
    center bottom -117px,
    center;
    background-size: 1200px 725px;
}

.content-logo img {
    padding-top: 75px;
}


.reasons {
    margin-top: 73px;
    min-height: 217px;
    background-color: #ffffff;
}

.reasons p:first-child {
    margin: 0;
    padding-top: 60px;
}

.reasons p:last-child {
    margin: 0;
    padding-top: 30px;
}

.reasons p:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
}

.reasons p:nth-child(2) {
    color: #696969;
}

.reason-item h3 {
    padding-top: 40px;
    box-sizing: border-box;
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
}


/*блок основного содержания*/

.content-feature {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.real-city,
.bridge,
.square,
.road,
.tourists {
    width: 400px;
    height: 256px;
}

.housing,
.food,
.souvenir {
    height: 330px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pic {
    width: 800px;
    height: 256px;
}

.real-city,
.bridge {
    margin: 0;
    color: #ffffff;
    background-color: #81b3d2;

}

.square,
.road,
.tourists {
    color: #333333;
    background-color: #eeeeee;
}

.square h3,
.road h3,
.tourists h3 {
    color: #000000;
}


/*форма*/

.search {
    height: 690px;
    text-align: center;
    letter-spacing: 0;
}

.search h2 {
    font-size: 29px;
}

.search .form-button {
    width: 570px;
    height: 85px;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    border: 0;
    background-color: #766357;
}

.search .form-button:hover,
.search .form-button:focus {
    background-color: #604e43;
}

.search .form-button:active {
    color: #857871;
    background-color: #503e33;
}

.search-form  { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 380px;
    padding-top: 32px;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}

.search-item {
    margin-top: 30px;
}

.search-item input {
    position: relative;
    border: 0;
    background-color: #f5f5f5;
}

.search-form input:hover {
    border: 0;
    background-color: #e6e6e6;
    outline: none;
}

.search-form input:focus {
    border: 1px solid #dfdfdf;
    background-color: #ffffff;
    outline: none;
}

.search-button  {
    width: 460px;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 52px;
    border: 0;
    outline: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    background-color: #81b3d2;
    text-transform: uppercase;
}

.search-button:hover,
.search-button:focus {
    background-color: #669ec0;
}

.search-button:active {
    color: #88b6d1;
    background-color: #5496bd;
}

.checkin input,
.checkout input {
    width: 325px;
    height: 35px;
    margin-left: 15px;
    padding-left: 20px;
}

.people input {
    width: 115px;
    height: 35px;
    margin-left: 30px;
    margin-right: 30px;
}

/*стили внутренней страницы*/
/*фильтры*/

.filters {
    min-height: 217px;
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: #ffffff;
    background-image: url("./../img/filter-background.jpg");
    background-color: #648eb4;
}


.filter label {
    cursor: pointer;
}

.filter ul {
    list-style: none;
}

.filter-option input {
}

.filters fieldset {
    border: none;
}

.filters fieldset:nth-child(1) {
    max-width: 313px;
}

.filters fieldset:nth-child(2) {
    max-width: 288px;
}

.filters fieldset:nth-child(3) {
    flex-grow: 1;
}

.filters legend{
    padding-top: 24px;
    font-size: 16px;
    font-weight: bold;
}

.filter-option input[type="checkbox"] {
    display: none;
}

.filter-option label::before {
    content: url("./../img/checkbox-off.png");
    padding-right: 15px;
}

input:disabled + label::before {
    content: url("./../img/checkbox-off.png");
}

input:checked + label::before {
    content: url("./../img/checkbox-on.png");
}

.filter-option-range {
    width: 360px;
    color: #ffffff;
    text-transform: uppercase;
}

.filter-option-title {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;
    height: 36px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}

.price-controls {
    position: relative;
    margin-bottom: 32px;
}

.price-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.price-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0,1,1,0.2);
    cursor: pointer;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.range-toggle:hover {
    background: #1c4f80;
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover,
.btn-transparent:focus {
    color: #000000;
    background-color: #ffffff;
}

/*блок сортировки*/

.sorting {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
}

.sorting-items {
    display: flex;
    flex-wrap: wrap;
}


.sorting-items li {
    padding-left: 17px;
}

.sorting {
    font-size: 18px; 
    border-bottom: 1px solid #b2b2b2;
}

.sorting-items li {
    list-style: none;
}

.sorting-items a {
    color: #b2b2b2;
    font-size: 12px;
    border-bottom: 1px dotted #b2b2b2;
}

.sorting-items a:hover,
.sorting-items a:focus {
    color: #81b3d2;
}

.sorting-items a:active {
    color: #000000;
    border-bottom: none;
}

.search-inner-item img {
    margin-right: 30px;
}


.search-inner-rating {
    margin-left: auto;
}

/*карточки поиска*/
.search-inner {

}

/*.search-inner-items {
    display: flex;
    flex-direction: column;
}*/


.search-inner-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    border-bottom: 1px solid #b2b2b2;
}

.search-inner-info {
    display: flex;
    flex-direction: column;
    min-width: 289px;
}

.hotel-title a {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}

.hotel-title a:hover,
.hotel-title a:focus {
    color: #81b3d2;
}

.hotel-title a:active {
    color: #b2b2b2;
}

.form {
    width: 570px;
    margin-left: auto;
    margin-right: auto;
}

.search-form {
    background-color: #ffffff;
}

.search-inner-more a {
    display: inline-block;
    text-align: center;
    width: 110px;
    height: 25px;
    color: #ffffff;
    background-color: #81b3d2;
}

.search-inner-reserv a {
    display: inline-block;
    text-align: center;
    margin-left: 3px;
    width: 140px;
    height: 25px;
    color: #ffffff;
    background-color: #766357;
}

.search-inner-more a:hover,
.search-inner-more a:focus {
background-color: #669ec0;
}

.search-inner-more a:active {
    color: #88b6d1;
    background-color: #5496bd;
}

.search-inner-reserv a:hover,
.search-inner-reserv a:focus {
    background-color: #604e43;
}

.search-inner-reserv a:active {
    color: #857871;
    background-color: #503e33;
}


/*футер*/
.map {
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    }

.map img {
    width: 1200px;
    height: 593px;
}
.main-footer {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 120px;
    background-color: #ffffff;
}

.footer-contacts,
.footer-social,
.footer-copyright {
    max-width: 400px;
    text-align: center;
}

.footer-contacts p {
    font-size: 20px;
    font-weight: bold;
}

.footer-social li {
    list-style: none;
}


.footer-social {
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 48px;
    margin-left: 25px;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    background-color: #81B3D2;
}

.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}

.social-button:active {
    background-color: #5496bd;
}

.htmlacademy-logo:hover {
    fill: #81b3d2;
}

.htmlacademy-logo:active {
    fill: #bdbbbc;
}