body {
    max-width: 1200px;
    margin: auto;
    padding: 0;
    box-shadow: 
    10px 0 12px #dcdcdc,
    -10px 0 12px #dcdcdc;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0; 
    font-weight: normal;
    text-transform: uppercase;
    background-color: #ffffff;  
}

a {
    font-weight: bold;
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/*навигация сайта*/

.main-header {
    height: 56px;
    margin: 0;
}

.main-navigation {
    min-height: 42px;
    margin-bottom: 0;
}

.site-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 56px;
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
}

.navigation-left  {
    text-align: left;
}

.navigation-right  {
    text-align: right;
}

.site-navigation li {
    padding-top: 15px;
    width: 239px;
    height: 56px;
    list-style: none;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color:#dcdcdc;
}

.site-navigation-current {
    color: #8f847d;
    font-weight: bold;
}

.main-header-logo {
    margin-left: -70px;
    position: absolute;
    left: 50%;
}

.content-logo {
    height: 725px;
    text-align: center;
    background-image: 
    url("./../img/mask.svg"),
    url("./../img/background-photo.jpg");
    background-color: #add8e6;
    background-repeat: no-repeat;
    background-position: 
    center bottom -117px,
    center;
    background-size: 1200px 725px;
}

.content-logo img {
    padding-top: 75px;
}

.reasons {
    margin-top: 72px;
    min-height: 218px;
    background-color: #ffffff;
}

.reasons p:first-child {
    margin: 0;
    padding-top: 60px;
    line-height: 26px;
    letter-spacing: 1px;
}

.reasons p:last-child {
    margin: 0;
    padding-top: 30px;
}

.reasons p:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
}

.reasons p:nth-child(2) {
    color: #696969;
}


/*блок основного содержания*/

.reason-item h3 {
    padding-top: 46px;
    padding-bottom: 25px;
    box-sizing: border-box;
    margin: 0;
    font-size: 21px;
    font-weight: bold;
}

.reason-item p {
    padding-top: 7px;
}

.content-feature {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    line-height: 21px;
}

.content-feature h3 {
    font-size: 21px;
    font-weight: bold;
    line-height: 21px;
}

.real-city,
.bridge,
.square,
.road,
.tourists {
    width: 400px;
    min-height: 256px;
}

.square {
    width: 398px;
    border-right: 2px solid #efefef; 
}

.tourists {
    width: 398px;
    border-left: 2px solid #efefef; 
}

.housing,
.food,
.souvenir {
    min-height: 330px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pic {
    width: 800px;
    height: 256px;
}

.real-city,
.bridge {
    margin: 0;
    color: #ffffff;
    background-color: #81b3d2;

}

.square,
.road,
.tourists {
    color: #333333;
    background-color: #eeeeee;
}

.square h3,
.road h3,
.tourists h3 {
    color: #000000;
}

.housing svg,
.food svg,
.souvenir svg {
    margin: 0;
    
}

.housing h3,
.food h3,
.souvenir h3 {
    margin: 0;
    margin-top: 30px;
}

.housing p,
.food p {
    margin-top: 22px;
    margin-bottom: 22px;
}

.souvenir p {
    margin-bottom: 29px;
    margin-top: 22px;
}

/*форма*/

.search {
    position: relative;
    height: 764px;
    text-align: center;
    line-height: 24px;
    letter-spacing: 0;
}

.form-header {
    height: 292px;
}

.form-header h2 {
    margin: 0;
    padding-top: 56px;
    font-size: 30px;
    line-height: 24px;
}

.form-header p:first-of-type{
    margin: 0;
    padding-top: 32px;
    font-size: inherit;
    line-height: inherit;
}

.form-header .form-button {
    width: 568px;
    height: 86px;
    margin-top: 46px;
    padding: 0;
    color: #ffffff;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    border: 0;
    background-color: #766357;
}

.search .form-button:hover,
.search .form-button:focus {
    background-color: #604e43;
}

.search .form-button:active {
    color: #857871;
    background-color: #503e33;
}

.form {
    display: none;
}

.search-form  { 
    position: absolute;
    display: flex;
    left: 316px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 568px;
    min-height: 395px;
    margin: 0;
    padding: 0;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #ffffff;
}

.modal-show {
    display: block;
    animation: bounce 0.6s;
}

@keyframes bounce {
    0% {
      transform: translateY(-2000px);
      opacity: 0;
    }
  
    70% {
      transform: translateY(30px);
      opacity: 0.7;
    }
  
    90% {
      transform: translateY(-10px);
      opacity: 0.7;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

.search-form input[type="text"] {
    background-image: url("./../img/calendar.svg");
    background-repeat: no-repeat;
    background-size: 21px 23px;
    background-position: 315px center;
}

.search-item {
    width: 460px;
    margin: 0;
    margin-top: 4px;
}

.search-form p:first-child {
    margin-top: 55px;
    padding: 0;
}

.checkin input,
.checkout input {
    width: 335px;
    height: 34px;
    margin-left: 15px;
    padding-left: 10px;
}

.checkin input {
    margin-left: 18px;
}

.people input {
    width: 92px;
    height: 34px;
    margin-left: 35px;
    margin-right: 40px;
    padding-left: 20px;
}

.people input:last-child {
    margin-right: 0;
}

.search-item input {
    font: inherit;
    text-transform: uppercase;
    position: relative;
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
}

.search-item input:hover {
    border: 1px solid #e6e6e6;
    background-color: #e6e6e6;
    outline: none;
}

.search-item input:focus {
    border: 1px solid #dfdfdf;
    background-color: #ffffff;
    outline: none;
}

.search-button  {
    width: 458px;
    height: 58px;
    margin-top: 29px;
    margin-bottom: 55px;
    border: 0;
    outline: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    background-color: #81b3d2;
    text-transform: uppercase;
}

.search-button:hover,
.search-button:focus {
    background-color: #669ec0;
}

.search-button:active {
    color: #88b6d1;
    background-color: #5496bd;
}


/*стили внутренней страницы*/
/*фильтры*/

.filter {
    min-height: 217px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: #ffffff;
    background-image: url("./../img/filter-background.jpg");
    background-color: #5283ac;
}

.filter ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;     
    min-height: 118px;  
    padding-inline-start: 0;
    list-style: none;
}

.filters fieldset {
    min-height: 217px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    border: none;
}

.filters fieldset:nth-child(1) {
    max-width: 313px;
}

.filters fieldset:nth-child(2) {
    max-width: 288px;
}

.filters fieldset:nth-child(3) {
    max-width: 320px;
}

.filters legend {
    padding-top: 24px;
    font-size: 16px;
    font-weight: bold;
}

.filter-input-checkbox {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
}

.filter-input-checkbox input[type="checkbox"] + .checkbox-indicator::before {
    content: url("./../img/checkbox-off.png");
    position: absolute;
    top: -2px;
    left: 0;
    left: 2px;
}

.filter-input-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
    content: url("./../img/checkbox-on.png");
    position: absolute;
    left: 2px;
}

.filter-input-checkbox input[type="checkbox"]:disabled + .checkbox-indicator::before{
    opacity: 0.5;
}


/*бегунок по цене*/

.filter-range {
    width: 360px;
    margin-left: 200px;
    color: #ffffff;
    text-transform: uppercase;
}

.filter-range-title {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;
    height: 36px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0,1,1,0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover,
.btn-transparent:focus {
    color: #000000;
    background-color: #ffffff;
}

/*блок сортировки*/

.sorting {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: 85px;
    padding: 0 70px;
    font-size: 18px; 
    border-bottom: 1px solid #b2b2b2;
}

.sorting h2 {
    font-size: 21px;
}

.sorting-items {
    display: flex;
    flex-wrap: wrap;
}

.sorting-items li {
    list-style: none;
    padding-left: 17px;
}

.sorting span {
    padding-left: 48px;
    font-size: 12px;
    text-transform: uppercase;
}

.sorting ul {
    padding-left: 25px;
}

.sorting-items {
    display: flex;
    justify-content: space-between;
    width: 235px;
}

.sorting-items a {
    color: #b2b2b2;
    font-size: 12px;
    border-bottom: 1px dotted #b2b2b2;
}

.sorting-items a:hover,
.sorting-items a:focus {
    color: #81b3d2;
}

.sorting-items a:active {
    color: #000000;
    border-bottom: none;
}

.sorting-direct {
    margin-left: auto;
}

.sorting-direct span {
    padding-left: 10px;
}

.sorting-direct svg:hover,
.sorting-direct svg:focus {
    fill: #000000;
}

.sorting-direct svg:active {
    fill: #81B3D2;
}


/*карточки поиска*/

.search-inner-items {
    margin: 0;
}

.search-inner-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: 150px;
    list-style: none;
    border-bottom: 1px solid #b2b2b2;
}

.search-inner-item img {
    margin: 0;
    padding-left: 32px;
}

.search-inner-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    min-width: 289px;
    height: 150px;
    padding-left: 30px;
}

.search-inner-info h3 {
    margin: 0;
    margin-top: 20px;
}

.hotel-button {    
    margin-bottom: 25px;
}

.search-inner-rating {
    height: 123px;
    margin-left: auto;
    padding-right: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.search-inner-rating span {
    display: inline-block;
    text-align: center;
    width: 110px;
    height: 27px;
    background-color: #f2f2f2;
}

.hotel-title a {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}

.hotel-title a:hover,
.hotel-title a:focus {
    color: #81b3d2;
}

.hotel-title a:active {
    color: #b2b2b2;
}

.form {
    width: 570px;
    margin-left: auto;
    margin-right: auto;
}

.search-inner-more a {
    display: inline-block;
    text-align: center;
    width: 110px;
    height: 26px;
    color: #ffffff;
    background-color: #81b3d2;
}

.search-inner-reserv a {
    display: inline-block;
    text-align: center;
    margin-left: 3px;
    width: 141px;
    height: 26px;
    color: #ffffff;
    background-color: #766357;
}

.search-inner-more a:hover,
.search-inner-more a:focus {
background-color: #669ec0;
}

.search-inner-more a:active {
    color: #88b6d1;
    background-color: #5496bd;
}

.search-inner-reserv a:hover,
.search-inner-reserv a:focus {
    background-color: #604e43;
}

.search-inner-reserv a:active {
    color: #857871;
    background-color: #503e33;
}


/*футер*/
.map {
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    }

.map img {
    width: 1200px;
    height: 593px;
}
.main-footer {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    height: 120px;
    background-color: rgba(255,255,255, 0.9);
}

.footer-contacts,
.footer-social,
.footer-copyright {
    max-width: 400px;
    text-align: center;

}

.footer-contacts p {
    margin: 0;
    font-size: 21px;
    font-weight: bold;
    text-align: left;
}

.footer-social li {
    list-style: none;
}


.footer-social {
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 48px;
    margin-left: 25px;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    background-color: #81B3D2;
}

.social-icon:hover,
.social-icon:focus {
    background-color: #669ec0;
}

.social-icon:active {
    fill: #88b6d1;
    background-color: #5496bd;
}


.footer-copyright {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    min-height: 50px;
}

.footer-copyright span {
    line-height: 26px;
    align-self: center;
    padding-right: 10px;
}

.htmlacademy-logo:hover {
    fill: #81b3d2;
}

.htmlacademy-logo:active {
    fill: #bdbbbc;
}